:root {
    --gem-r: #B71C1C;
    --gem-o: #E8744F;
    --gem-y: #cfb649;
    --gem-g: #2E7D32;
    --gem-b: #1565C0;
    --gem-p: #4527A0;
    --gem-a: #4E342E;
}
body {
    background-color: #0d3550;
    background: url('./res/background.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
 }
.tabs {
    display: flex;
    background: rgba(255,255,255,0.8) !important;
    border-radius: 0 0 0.2em 0.2em;
}
.row .col.s3 {
    margin-right: auto;
}
.tab-content {
    background: rgba(255,255,255,0.4)
}
.tab-content td {
    text-align: center;
    padding: 0.4em;
    width: 9em;
    position: relative;
}
.tab-content tr {
    line-height: 0.4em;
}
.tab-content label span {
    padding-left: 1em !important;
}
.tab-content table {
    width: fit-content;
}
.tabs-content {
    height: 100% !important;
}

.target {
    position: fixed;
    bottom: 2em;
    right: 2em;
    background: #000;
    color: #fff;
    border-radius: 2px;
    padding: 1em;
    font-family: 'VT323', monospace;
    font-size: x-large;
    display: flex;
    align-items: center;
}
.target .title {
    font-size: xx-large;
}
.target p {
    margin: 0;
    text-align: center;
}
.target-text {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    min-width: 16em;
}
.target-text-title {
    font-size: xxx-large;
    display: flex;
}
.target-text-desc {
    display: flex;
}
.gem-count {
    padding-top: 0.6em;
    transform: scale(0.8);
}

[type="checkbox"]:checked+span:not(.lever):before {
    border-right: 2px solid #147818 !important;
    border-bottom: 2px solid #147818 !important;
}

[type="checkbox"]:indeterminate+span:not(.lever):before {
    border-right: 2px solid #a63126 !important;
}


.changing {
    animation: rotation 1s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    animation-fill-mode: forwards;
}
@keyframes rotation {
    100% {
      transform: rotateY(360deg);
    }
}

.floating { 
    animation-name: floating;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    display: flex;
}
 
@keyframes floating {
    0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-4px);
	}
	100% {
		transform: translatey(0px);
	}
}


.arrow-box {
    position: absolute;
    width: 1.5em;
    height: 1.5em;
    background: #f5ea89;
    top: -0.5em;
    left: 1em;
    opacity: 0;
    transition: all 0.2s;
    border-radius: 0.3em;
}
.arrow-box[data-priority] {
    opacity: 0.5;
}
.arrow-box::before {
    content: attr(data-priority);
    position: absolute;
    z-index: 2;
    right: 0.4em;
    top: 0.45em;
    font-weight: 900;
    width: 1em;
    color: orangered;
    text-shadow: 1px 1px 1px #2c1a16;
}
.arrow-box::after {
    position: absolute;
    width: 0;
    height: 0;
    content: "";
    border-top: 0.7em solid transparent;
    border-bottom: 0.7em solid transparent;
    border-left: 1em solid #f5ea89;
    right: -0.5em;
    top: 0;
}

[data-gem] { 
    position: relative; 
}
[data-gem]::after { 
    color:white; 
    border-radius: 50%; 
    width: 1.2em; 
    height: 1.2em; 
    line-height: 1.2em; 
    font-size: small; 
    position: absolute; 
    top:-0.5em;
    font-weight: 900;
    margin-left: 0.4em;
}
[data-gem='A']::after { content:'A'; background: var(--gem-a); }
[data-gem='B']::after { content:'B'; background: var(--gem-y); }
[data-gem='C']::after { content:'C'; background: var(--gem-g); }
[data-gem='D']::after { content:'D'; background: var(--gem-y); }
[data-gem='E']::after { content:'E'; background: var(--gem-p); }
[data-gem='F']::after { content:'F'; background: var(--gem-b); }
[data-gem='G']::after { content:'G'; background: var(--gem-o); }
[data-gem='I']::after { content:'I'; background: var(--gem-o); }
[data-gem='J']::after { content:'J'; background: var(--gem-r); }
[data-gem='L']::after { content:'L'; background: var(--gem-g); }
[data-gem='M']::after { content:'M'; background: var(--gem-g); }
[data-gem='N']::after { content:'N'; background: var(--gem-r); }
[data-gem='O']::after { content:'O'; background: var(--gem-g); }
[data-gem='P']::after { content:'P'; background: var(--gem-r); }
[data-gem='Q']::after { content:'Q'; background: var(--gem-p); }
[data-gem='R']::after { content:'R'; background: var(--gem-p); }
[data-gem='S']::after { content:'S'; background: var(--gem-b); }
[data-gem='T']::after { content:'T'; background: var(--gem-y); }
[data-gem='U']::after { content:'U'; background: var(--gem-b); }
[data-gem='V']::after { content:'V'; background: var(--gem-p); }
[data-gem='W']::after { content:'W'; background: var(--gem-b); }
[data-gem='X']::after { content:'X'; background: var(--gem-r); }
[data-gem='Y']::after { content:'Y'; background: var(--gem-y); }
[data-gem='Z']::after { content:'Z'; background: var(--gem-o); }
[data-gem='?']::after { content:'?'; background: var(--gem-o); }
